Source: aptly
Section: devel
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: TODO <admin@lepton.exnihilo>
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang-any (>= 2:1.14~1~bpo10+1),
               golang-github-aleksi-pointer-dev,
               golang-github-awalterschulze-gographviz-dev,
               golang-github-aws-aws-sdk-go-dev,
               golang-github-disposaboy-jsonconfigreader-dev,
               golang-github-gin-gonic-gin-dev,
               golang-github-kjk-lzma-dev,
               golang-github-mattn-go-shellwords-dev,
               golang-github-mkrautz-goar-dev,
               golang-github-mxk-go-flowrate-dev,
               golang-github-ncw-swift-dev,
               golang-github-pkg-errors-dev,
               golang-github-smira-commander-dev,
               golang-github-smira-flag-dev,
               golang-github-smira-go-aws-auth-dev,
               golang-github-smira-go-ftp-protocol-dev,
               golang-github-smira-go-xz-dev,
               golang-github-ugorji-go-codec-dev,
               golang-github-wsxiaoys-terminal-dev,
               golang-golang-x-crypto-dev,
               golang-golang-x-sys-dev,
               golang-github-syndtr-goleveldb-dev,
               golang-gopkg-check.v1-dev,
               golang-gopkg-cheggaaa-pb.v1-dev,
               golang-gopkg-h2non-filetype.v1-dev,
               golang-uuid-dev,
               golang-github-cavaliercoder-grab,
               git-core
Standards-Version: 4.2.1
Homepage: https://github.com/aptly-dev/aptly
Vcs-Browser: https://salsa.debian.org/go-team/packages/aptly
Vcs-Git: https://salsa.debian.org/go-team/packages/aptly.git
XS-Go-Import-Path: github.com/aptly-dev/aptly
Testsuite: autopkgtest-pkg-go

Package: aptly
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: aptly - Debian repository management tool
